html {
    height: 100%;
    font-size: 100%;
}

body.landing {
     background-color: whitesmoke; 
}

body {

    font-family: 'Open Sans';
    min-height: 100%;
    height: 100%;
}

.left, .right {
  height: 100%;
}

section.left {
  text-align: center;
  float: left;
  background-color: lightgrey;
  width: 30%;
}

section.right {
  float: right;
  background-color: yellow;
  width: 70%;
  height: 90%;

}

.landing:after {
  content: "";
  display: table;
  clear: both;
}

ul {
    list-style: none;
    width: 70%;
}

.modal-box {
    position:absolute;
    width:350px;
    top: 20%;
    left: 60%;
    margin-left: -200px;
    margin-top: -40px;
    padding: 6px;
    border-width: 2px;
    background-color: darkgrey;
    border-style: inset;
    border-color: black;
}

.btn.btn-default {
    background-color: aqua;
}

h3 {
    color:blue;
}

.modal-header {
    color:aliceblue;
    width: auto;
    text-align: center;
}

.modal-body {
    text-align: center;
}

.modal-footer {
    text-align: center;
}

.user-section {
    background-color: darkgrey;
    border-style: inset;
    border-color: black;
}

.bottom-input {
    background-color: gold;
    padding-bottom: 60px;
}
